
#view_inventory{
  position: absolute;
  background-image: url("../img/inventory.png");
  top:40%;
  left:25%;
  width:300px;
  height:300px;
  /*background:black;*/
  }
#view_inventory:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#add_drug{
  position: absolute;
  background-image: url("../img/drug.png");
  top:40%;
  left:55%;
  width:300px;
  height:300px;
  /*background:black;*/
}

#add_drug:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#add_tool{
  position: absolute;
  background-image: url("../img/tool.png");
  top:80%;
  left:55%;
  width:300px;
  height:300px;
  /*background:black;*/
}

#add_tool:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#add_supplier{
  position: absolute;
  background-image: url("../img/supplier.png");
  top:80%;
  left:25%;
  width:300px;
  height:300px;
/*background:black;*/
}

#add_supplier:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#nurse_info{
  position: absolute;
  background-image: url("../img/NurseButton.png");
  top:140%;
  left:10%;
  width:22%;
  height:22%;
  /*background:black;*/
  opacity: 0.9;
}

#nurseinfoback{
  position: absolute;
  background-color: white;
  border-style: solid;
  border-color: grey;
  top:140%;
  left:10%;
  width:21.5%;
  height:300px;
  /*background:black;*/
  /*opacity: 0.9;*/
}

#nurse_info:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#report{
  position: absolute;
  background-image: url("../img/ReportButton.png");
  top:140%;
  left:40%;
  width:22%;
  height:22%;
  /*background:black;*/
  opacity: 0.9;
}
#reportback{
  position: absolute;
  background-color: white;
  border-style: solid;
  border-color: grey;
  top:140%;
  left:40%;
  width:21.5%;
  height:300px;
  /*background:black;*/
  /*opacity: 0.9;*/
}

#report:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#feedback{
  position: absolute;
  background-image: url("../img/feeback.png");

  top:140%;
  left:70%;
  width:22%;
  height:22%;
  /*background:black;*/
  opacity: 0.9;
}
#feedbackback{
  position: absolute;
  background-color: white;
  border-style: solid;
  border-color: grey;

  top:140%;
  left:70%;
  width:21.5%;
  height:300px;
  /*background:black;*/
  /*opacity: 0.9;*/
}


#feedback:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#backrectangle{
  position: absolute;
  /*background-image: url("../img/smallerbackground.png");*/
  background-color: #ffffff;
  /*background-size: 50%;*/
  top:35%;

  left:20%;
  /*right:100%;*/

  width:65%;
  height:700px;
  /*background:white;*/
  /*border-radius: 40px;*/
  opacity: 0.7;
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#secondback{
  position: absolute;
  /*background-image: url("../img/smallerbackground.png");*/
  background-color: #ffffff;
  /*background-size: 50%;*/
  top:135%;
  left:2%;
  /*right:70%;*/
  width:96%;
  height:45%;
  /*background:white;*/
  /*border-radius: 20px;*/
  opacity: 0.7;
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body {
  background-image: url("../img/clinicbackground.png");
  /*background-color: #dddddd;*/
  background-size: 190%;
  background-repeat: no-repeat;
  /*background-color: #E7F0F5;*/
}
