
#view_inventory{
  position: absolute;
  background-image: url("../img/inventory.png");
  top:400px;
  left:300px;
  width:300px;
  height:300px;
  /*background:black;*/
  }
#view_inventory:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#add_drug{
  position: absolute;
  background-image: url("../img/drug.png");
  top:400px;
  left:700px;
  width:300px;
  height:300px;
  /*background:black;*/
}

#add_drug:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#add_tool{
  position: absolute;
  background-image: url("../img/tool.png");
  top:800px;
  left:700px;
  width:300px;
  height:300px;
  /*background:black;*/
}

#add_tool:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#add_supplier{
  position: absolute;
  background-image: url("../img/supplier.png");
  top:800px;
  left:300px;
  width:300px;
  height:300px;
/*background:black;*/
}

#add_supplier:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#nurse_info{
  position: absolute;
  background-image: url("../img/NurseButton.png");
  top:1250px;
  left:200px;
  width:300px;
  height:200px;
  /*background:black;*/
}

#nurse_info:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#report{
  position: absolute;
  background-image: url("../img/ReportButton.png");
  top:1250px;
  left:550px;
  width:300px;
  height:200px;
  /*background:black;*/
}

#report:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#feedback{
  position: absolute;
  background-image: url("../img/feeback.png");
  top:1250px;
  left:900px;
  width:300px;
  height:200px;
  /*background:black;*/
}

#feedback:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#backrectangle{
  position: absolute;
  background-image: url("../img/smallerbackground.png");
  top:300px;
  left:200px;
  width:1000px;
  height:900px;
  /*background:white;*/
  border-radius: 10px;
}


body {
  background-image: url("../img/standardbackground2.png");
  /*background-color: #E7F0F5;*/
}
