
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 30px;
    min-height: 30px;
}
.spinner:before {
    content: '';
    position: absolute;
    top: 30%;
    left: 43%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: #03ade0;
    border-bottom-color: #03ade0;
    animation: spinner .9s ease infinite;
    -webkit-animation: spinner .8s ease infinite;
}
