/*Styling of the footer*/
.footer{
background-color:grey;
color:#D3D3D3;
height: 11em;
font-weight: bold;
text-align:bottom;
bottom:0%;
}


/*Styling of the text boxes*/
input[type="text"],input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-right:5%;
    margin-top: 30px;
}

/*Styling of login page*/
.login{
  font-family: 'Open Sans Condensed', arial, sans;
  padding: 30px;
  background: #FFFFFF;
  margin-left: 20%;
  width:92%;
  border-radius: 8px;
  box-shadow: 4px 4px  #888889;
}

.welcome{
background-image: url("../img/Scope.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
}

/*Styling of homepage*/
.information{
  margin-top: 5%;
  width:100%;
  padding: 20px;
  height:70%;
}
.information-drug{
  margin-top: 5%;
  width:100%;
  padding: 20px;
  height:50%;
}

.information-tools{
  margin-top: 5%;
  width:100%;
  padding: 20px;
  height:40%;
}
.information-supplier{
  margin-top: 5%;
  width:100%;
  padding: 20px;
  height:40%;
}
body{margin:0;padding:0;}

/*Styling of forms*/
.form_back{
  background: #FFFFFF;
  width:60%;
  margin-left: 20%;
  border-radius: 4%;
  box-shadow:1px 1px 3px #666666;
  opacity:0.95;
}
.form_backV2{
  background: #FFFFFF;
  width:50%;
  margin-left: 20%;
  border-radius: 5px;
}
.form_backV3{
  background: #FFFFFF;
  width:80%;
  margin-left: 10%;
}
.instruction{
  text-align: center;
  font-family:calibri light;
  font-size:40px;
  text-shadow: 1px 1px 3px #666666;}


.formpage{
  background-image: url("../img/clinicbackground.png");
}

/*Styling of buttons*/
button,#buttonAdd,.button{
  background-color: white;
  border: 2px solid #4C4C4C;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 10px;
  font-family: calibri light;

}

button:hover,#buttonAdd:hover,.button:hover{
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4C4C4C;
    color: white;

}
.input_options{
  color:grey;
  margin-top:20px;
  margin-bottom: 10px;
  font-family: calibri light;
  font-size:18px;
}
.clickspot{
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-family: calibri light;
  margin-left: 28%;
  border-radius: 20px;
}

.del{
  padding-top: 0px;
  background-color: white;
  font-size: 12px;
  font-family: calibri light;
  border-radius: 20px;
  height:10%;
}

#buttonAdd{
  margin-left:26%;
}

/*Table Styling*/
table{
  width:100%;
  border:none;
}

tr{
  border-collapse:collapse;
}

#edit_info{
  position:absolute;
  left:92%;
  top:30%;
  display:none;
  font-size: 18px;
  color:white;
  background-color: #4C4C4C;
  border-radius: 30%;
  text-align: center;
  font-family:helvetica;
  opacity:0.5;
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.content:hover{
  background-color:#f5f5f5;
}
td{
  text-align:left;
  padding:15px;
  border-bottom:1px solid #ddd;
}

.head{
  height:50px;
  padding:15px;
  text-align:left;
  border-bottom:1px solid #ddd;
  background-color: #4C4C4C;
  color:white;
}

#imageshape{
	width:90%;padding:1%;
}

 #footertext{
	 margin-bottom:2%;
	 margin-left:8%;
	 padding-top: 0%;
	 padding-left: 55%
}

/*Styling for loading circle*/
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 30px;
    min-height: 30px;
}
.spinner:before {
    content: '';
    position: absolute;
    top: 30%;
    left: 43%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: #03ade0;
    border-bottom-color: #03ade0;
    animation: spinner .9s ease infinite;
    -webkit-animation: spinner .8s ease infinite;
}

/*Styling of header*/
li{
  display: inline-block;
  float: left;
  width: 12%;
  height: 24%;
  margin-top: 0%;
  padding-top: 1%;
  font-family: helvetica;
}

li a{
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 100%;

}
#name{
  color:white;
  text-decoration: none;
  padding-left: 5%;
  width:20%;

}

#name no-hover{
    background-color: transparent;
}

ul{
  background-color: #333333;
  height: 19%;
  width: 97%;
}

#links li:hover{
  background-color: black;
  li.a.color: white;
  border-radius: 5px;
}


#logo{
  float: left;
  background-color: white;
  height: 12%;
  width: 100%;
}


.header{
  background-color:white;
  height:25%;
   width:100%;
}

/*Home page Icons*/
#view_inventory{
  position: absolute;
  background-image: url("../img/inventory.png");
  top:300px;
  left:350px;
  width:300px;
  height:300px;
  /*background:black;*/
  }
#view_inventory:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#add_drug{
  position: absolute;
  background-image: url("../img/drug.png");
  top:300px;
  left:750px;
  width:300px;
  height:300px;
  /*background:black;*/
}

#add_drug:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#add_tool{
  position: absolute;
  background-image: url("../img/tool.png");
  top:680px;
  left:750px;
  width:300px;
  height:300px;
  /*background:black;*/
}

#add_tool:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#add_supplier{
  position: absolute;
  background-image: url("../img/supplier.png");
  top:680px;
  left:350px;
  width:300px;
  height:300px;
/*background:black;*/
}

#add_supplier:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#nurse_info{
  position: absolute;
  background-image: url("../img/NurseButton.png");
  top:1070px;
  left:200px;
  width:300px;
  height:200px;
  /*background:black;*/
}

#nurse_info:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#report{
  position: absolute;
  background-image: url("../img/ReportButton.png");
  top:1070px;
  left:550px;
  width:300px;
  height:200px;
  /*background:black;*/
}

#report:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#feedback{
  position: absolute;
  background-image: url("../img/feeback.png");
  top:1070px;
  left:900px;
  width:300px;
  height:200px;
  /*background:black;*/
}

#feedback:hover{
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#nurseinfoback{
  position: absolute;
  background-color: white;
  border-style: solid;
  border-color: grey;
  top:1070px;
  left:200px;
  width:295px;
  height:300px;
  /*background:black;*/
  /*opacity: 0.9;*/
}

#reportback{
  position: absolute;
  background-color: white;
  border-style: solid;
  border-color: grey;
  top:1070px;
  left:550px;
  width:292px;
  height:300px;
  /*background:black;*/
  /*opacity: 0.9;*/
}

#feedbackback{
  position: absolute;
  background-color: white;
  border-style: solid;
  border-color: grey;

  top:1070px;
  left:900px;
  width:21.5%;
  height:300px;
  /*background:black;*/
  /*opacity: 0.9;*/
}



#backrectangle{
  position: absolute;
  /*background-image: url("../img/smallerbackground.png");*/
  background-color: #ffffff;
  /*background-size: 50%;*/
  top:35%;

  left:20%;
  /*right:100%;*/

  width:65%;
  height:800px;
  /*background:white;*/
  /*border-radius: 40px;*/
  opacity: 0.7;
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#secondback{
  position: absolute;
  /*background-image: url("../img/smallerbackground.png");*/
  background-color: #ffffff;
  /*background-size: 50%;*/
  top:1050px;
  left:2%;
  /*right:70%;*/
  width:96%;
  height:55%;
  /*background:white;*/
  /*border-radius: 20px;*/
  opacity: 0.7;
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.checkered {
  background-image: url("../img/clinicbackground.png");
  /*background-color: #dddddd;*/
  background-size: 200%;
  background-repeat: no-repeat;
  /*background-color: #E7F0F5;*/
}
/*Modal Work*/
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z‐index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background‐color: rgb(0,0,0); /* Fallback color */
background‐color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/*Misc*/
.push {
height: 8em;
}
.row:before,
.row:after{
  content:"";
  display:table;
  clear:both;
}

[class*='col-']{
  float:left;
  min-height:1px;
  width:8.33%;
  padding: ;
}

.col-3 {width: 25%;}

[class*='col-offset-']:{
  float:left;
  min-height:1px;
  margin-left:8.33%;
  padding: 12px;
}

.col-offset-6{ margin-left: 50.00%; }
