
/*This is used to create a grid layout*/
.grid-container *{
  box-sizing: border-box;
}
.grid-container {
  width:100%;
  max-width : 1200px;
}

.row:before,
.row:after{
  content:"";
  display:table;
  clear:both;
}

.footer{
background-color:#4C4C4C;
color:#D3D3D3;
height: 27%;
font-weight: bold;
text-align:bottom;
}
.clickspot{
	text-decoration:underline;
	color:blue;
	cursor:pointer
}

[class*='col-']{
  float:left;
  min-height:1px;
  width:8.33%;
  padding: ;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*='col-offset-']:{
  float:left;
  min-height:1px;
  margin-left:8.33%;
  padding: 12px;
}
.col-offset-1{ margin-left: 8.33%; }
.col-offset-2{ margin-left: 16.66%; }
.col-offset-3{ margin-left: 24.99%; }
.col-offset-4{ margin-left: 33.32%; }
.col-offset-5{ margin-left: 41.65%; }
.col-offset-6{ margin-left: 50.00%; }
.col-offset-7{ margin-left: 58.33%; }
.col-offset-8{ margin-left: 66.66%; }
.col-offset-9{ margin-left: 74.99%; }

/*Styling of the page*/

input[type="text"],input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-right:5%;
    margin-top: 30px;
}
.login{
  font-family: 'Open Sans Condensed', arial, sans;
  padding: 30px;
  background: #FFFFFF;
  margin-left: 20%;
  width:92%;
  border-radius: 8px;
  box-shadow: 4px 4px  #888889;
}

.information{
  margin-top: 5%;
  width:100%;
  padding: 20px;
  height:70%;
}
.information-drug{
  margin-top: 5%;
  width:100%;
  padding: 20px;
  height:50%;
}

.information-tools{
  margin-top: 5%;
  width:100%;
  padding: 20px;
  height:40%;
}
.information-supplier{
  margin-top: 5%;
  width:100%;
  padding: 20px;
  height:40%;
}
body{margin:0;padding:0;}
.form_back{
  background: #FFFFFF;
  width:60%;
  margin-left: 20%;
  border-radius: 5px;
}
.form_backV2{
  background: #FFFFFF;
  width:50%;
  margin-left: 20%;
  border-radius: 5px;
}
.form_backV3{
  background: #FFFFFF;
  width:75%;
  margin-left: 14%;
}

.Home{
background-image: url("../img/Scope.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
}

.formpage{
  background-color:#E7F0F5;
}
button,.button{
  background-color: white;
  border: 2px solid #4C4C4C;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 10px;
  font-family: calibri light;

}

button:hover,.button:hover{
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4C4C4C;
    color: white;

}
.input_options{
  color:grey;
  margin-top:20px;
  margin-bottom: 10px;
  font-family: calibri light;
  font-size:18px;
}
.buttonAdd{
  margin-left:26%;
}
table{
  width:100%;
  border:none;
}

tr{
  border-collapse:collapse;
}

.content:hover{
  background-color:#f5f5f5;
}
td{
  text-align:left;
  padding:15px;
  border-bottom:1px solid #ddd;
}
.head{
  height:50px;
  padding:15px;
  text-align:left;
  border-bottom:1px solid #ddd;
  background-color: #4C4C4C;
  color:white;
}
.instruction{
  text-align: center;
  font-family:calibri light;
  font-size:40px;
  text-shadow: 1px 1px 3px #666666;}

.header{
  background-color:#4C4C4C;
  height:25%;
   width:100%;
}



#imageshape{
	width:90%;padding:1%;
}

#footertext{
 margin-bottom:2%;
 margin-left:8%;
 padding-top: 0%;
 padding-left: 55%
}
