<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
  <div id='logo'>
    <a href='hm.php'><img src='../img/logo.png' height="95%" style="margin-left:1%;"/></a>
    <a id='logout' href="logout.php">logout</a>
  </div>
<div class = "inlineblock" style="margin-top:40px;">



  <div>
    <h1>
      DOWNLOAD REPORTS<br><br>
    </h1>
  </div>


  <div>
    <h2>
      The button below generates a report of the table of drug information exclusively.
    </h2>
  </div>


  <div class="flat">
      <a href = "../Controller/generatereport.php?preference=1"><button>Drug Report</button></a>
  </div>

  <div>
    <h2>
      The button below generates a report of the table of tools information exclusively.
    </h2>
  </div>



  <div class="flat">
    <a href = "../Controller/generatereport.php?preference=2"><button>Tool Report</button></a>
  </div>

  <div>
    <h2>
       The button below generates a report of the table nurses and their availability at the clinic exclusively.
    </h2>
  </div>


  <div class="flat">
      <a href = "../Controller/generatereport.php?preference=3"><button>Availability Report</button></a>
  </div>

</div>
</body>
</html>
